header {
    background-color: #0B6623;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #CCE5CC;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

.principal{
    text-align: center;
}

.principal img{
    margin-top: 10px;
    border-radius: 5px;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fafafa;
}